// Executor definition
executor {
    name = 'local'
    cpus = 40
    memory = '300G'
}

// Processus configuration
process {
    withName: SplitBam {
        executor = 'local'
        cpus = 40
        memory = '50G'
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: ParseBam {
        executor = 'local'
        cpus = 1
        memory = '5G'
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: PreprocessFasta {
        executor = 'local'
        cpus = 1
        memory = '2G'
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: Segmentation {
        executor = 'local'
        cpus = 1
        memory = { (14.GB * task.attempt) }
        errorStrategy = 'retry'
        maxRetries = 0
    }
    withName: Detection {
        executor = 'local'
        cpus = 1
        memory = '600M'
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: MergeTracks {
    	executor = 'local'
        cpus = 2
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: MergeSignals {
        executor = 'local'
        cpus = 2
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: ComputeScore {
        executor = 'local'
        cpus = 3
        memory = '200G'
        errorStrategy = 'retry'
    }
    withName: InputStats {
        executor = 'local'
        cpus = 1
        memory = '10G'
        errorStrategy = 'retry'
    }
    withName: AnalysisTracks {
        executor = 'local'
        cpus = 3
        errorStrategy = 'retry'
        maxRetries = 0
    }
}

report {
    enabled = true
    overwrite = true
}
timeline {
    enabled = true
    overwrite = true
}
trace {
    enabled = true
    overwrite = true
}

