// Executor definition
executor {
    name = 'local'
    cpus = 10
    memory = '100G'
}

// Processus configuration
process {
    withName: SelectReadsWithSignal {
        executor = 'local'
        errorStrategy = 'terminate'
        maxRetries = 0
    }
    withName: PrepareAnnotation {
        executor = 'local'
        errorStrategy = 'terminate'
        maxRetries = 0
    }
    withName: SetupForkMLAnnotation {
        executor = 'local'
        errorStrategy = 'terminate'
        maxRetries = 0
    }
}

report {
    enabled = true
    overwrite = true
}
timeline {
    enabled = true
    overwrite = true
}
trace {
    enabled = true
    overwrite = true
}
