// Executor definition
executor {
    name = 'local'
    cpus = 20
    memory = '200 GB'
}

// Processus configuration
process {
    executor = 'local'

    withName: ProcessAnnotation {
        cpus = 1
        memory = '2G'
    }
    withName: SplitBam {
        cpus = 2
        memory = '3G'
    }
    withName: AnnotateSignal {
        cpus = 1
        memory = '2G'
    }
    withName: SmoothSignal {
        cpus = 1
        memory = '2G'
    }
    withName: PrepareData {
        cpus = 1
        memory = '10G'
    }
    withName: Training {
        withLabel: with_cpus {
            cpus = 1
            memory = '2G'
        }

        withLabel: with_gpus {
            cpus = 1
            memory = '2G'
            maxForks = 1
        } 
    }
}

report {
    enabled = true
    overwrite = true
}
timeline {
    enabled = true
    overwrite = true
}
trace {
    enabled = true
    overwrite = true
}
